footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.textFooter p:first-of-type {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

.textFooter p:last-of-type {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.containerButton button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
}

@media (max-width: 767px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 8px;
    font-size: 12px;
  }
  .containerButton button {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
  }
}
